<h2>Animals</h2>

<div>
<nav>
<ul id ="button center">
  <li><a href="/animals/adoptable">Adoptable Animals</a></li>
  <li><a href="/animals/non-adoptable">Non-Adoptable Animals</a></li>
  <li><a href="/animals/new">Add a New Animal</a></li>
</ul>
</nav>
</div>


<table>
  <tr>
    <th>Animal Name</th>
    <th>Admission Date</th>
    <th>Adoptable</th>
    <th>Type</th>
    <th>Adoption Status</th>
    <th>Delete</th>
  </tr>
  <% for animal in @animals %>
  <tr>
    <td><%= animal.name %></td>
    <td><%=animal.admission_date%></td>
    <td><%= animal.adoptable.to_s == "t" ? "Yes" : "No" %></td>
    <td><%=animal.type%></td>
    <td><%=animal.adoption_status%></td>
    <td><form action="/animals/<%=animal.id %>/delete" method="POST">
      <input class="btn btn--delete" type="submit" value="delete" /></form></td>
  </tr>
  <% end %>
</table>

